/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

h1, h2, h3, h4, p, span, li {
    color: #ffffff;
}

.hidden-text {
    opacity: 0;
    transition: opacity 2s;
}


/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000000;
    color: rgb(255, 255, 255);
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav.navbarDark {
    background-color: black;
}

/* Content */
.content {
    margin-top: 0; /* Adjust this value to provide enough space below the navigation bar */
    background-color: #000000;
    padding: 25px;
}

/* Landing Page */
.landing.content {
    text-align: center;
    padding: 240px;
}

.landing.body {
    text-align: right;
    padding: 240px;
    background-image: url('IMG_1460_cropped.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}    

/* About Page */
.about {
    text-align: center;
    padding: 20px;
}

/* Projects Page */
.projects {
    text-align: center;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Contact Page */
.contact {
    text-align: center;
    padding: 20px;
}

/* Footer */
.footer {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

/* Social Media Icons */
.social-icons {
    margin-top: 0;
}

.social-icons a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0 15px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ff0000;
}

/* services section css */
.servicesText.card {
    height: 200px;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #ff0000;
}
.servicesText:hover {
    border: 2px solid #ff0000;
}

.form {
    margin: 40px auto;
    max-width: 25rem;
    border: var(--border);
    font-size: 1.2rem;
  
    /* An explicit background is required here, as it's actually transparent by default, and we
         don't want to see the shadow element behind */
    background: var(--background-color);
}

.contact i {
    color: rgb(255, 255, 255);
    font-size: 55px;
    margin: 0 15px;
    text-decoration: none;
}