{% extends "layout.html" %}
{% block content %}   
    <div class="content">
        <section class="contact">
            <h1>MYROSLAV VOZNIAK</h1>
            <section class="intro">
                <div class="intro-text">
                    <p>I GET WORK DONE.</p>
                    <p>-----</p>
                </div>
            </section>
        
            <section class="strengths">
                <h2>STRENGTHS</h2>
                    <p>BACKEND DEVELOPMENT</p>
                    <p>FRONTEND DEVELOPMENT</p>
                    <p>AI SOLUTIONS</p>
                    <p>-----</p>
            </section>
        
            <section class="studying">
                <h2>EDUCATION</h2>
                <p>CARLETON UNIVERSITY</p>
                <p>-----</p>
            </section>
        </section>
    </div>    
{% endblock content %}   