{% extends "layout.html" %}
{% block content %}   
    <div class="content">
        <section class="contact">
            <h1>MYROSLAV VOZNIAK</h1>
            <section class="intro">
                <div class="intro-text">
                    <p> 
                        I GET WORK DONE.
                    </p>
                </div>
            </section>
        
            <section class="strengths">
                <h2>STRENGTHS</h2>
                    <p>BACKEND DEVELOPMENT.</p>
                    <p>FRONTEND DEVELOPMENT.</p>
                    <p>AI SOLUTIONS.</p>
            </section>
        
            <section class="studying">
                <h2>STUDYING</h2>
                <p>
                    CARLETON UNIVERSITY
                </p>
            </section>
        
            <section class="images">
                <h2>IMAGES</h2>
                <div class="image-gallery">
                    <img src="image1.jpg" alt="Description of Image 1">
                    <img src="image2.jpg" alt="Description of Image 2">
                    <!-- Add more images as needed -->
                </div>
            </section>
        </section>
    </div>    
{% endblock content %}   