{% extends "layout.html" %}
{% block content %}   
    <div class="content">
        <section class="contact">
            <h1>CONTACT ME</h1>
            <form method="POST" action="" enctype="multipart/form-data" novalidate class="form">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-danger") }}
                </div>
            </form>   
            <div class="contact-icons">
                <div class="contact">
                    <i class="fas fa-envelope" style="color: rgb(116, 255, 243)" id="email-icon"></i>
                    <h4 id="email-text" class="hidden-text">realmyros@gmail.com</h4>
                </div>
                <div class="contact">
                    <i class="fas fa-phone" style="color: rgb(116, 255, 243)" id="phone-icon"></i>
                    <h4 id="phone-text" class="hidden-text">+1 (438) 497-3894</h4>
                </div>  
            </div>          
        </section>
    </div>
{% endblock content %}   