{% extends "layout.html" %}
{% block content %}   
    <div class="content">
        <section class="contact">
            <h1>CONTACT ME</h1>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.content.errors %}
                            {{ form.content(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.content.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %} 
                            {{ form.content(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>   
            <h3>Email: realmyros@gmail.com</h3>
            <h3>Phone: +1 (438) 497-3894</h3>
            <p>Conubia inceptos ornare lobortis dui mus leo fringilla tellus. Libero erat in porttitor tellus in eu rutrum tortor vestibulum. Vestibulum class faucibus platea. Natoque diam cras vivamus volutpat? Tempor varius cum faucibus non amet vitae conubia facilisi condimentum, lorem condimentum. Habitasse est egestas cursus senectus potenti faucibus? Blandit sapien nulla massa varius. Justo iaculis semper ac. Felis suscipit feugiat fames mi amet condimentum sollicitudin consequat per lacinia odio ad. Placerat sapien urna feugiat. A, adipiscing torquent litora. Semper massa lacinia tristique inceptos egestas. Cubilia luctus tempus vulputate sociosqu.</p>
        </section>
    </div>
{% endblock content %}   