{% extends "layout.html" %}
{% block content %}   
    <div class="content">
        <section class="projects">
            <h1 class="text-center">PROJECTS</h1>
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class="fas servicesIcon fa-share-nodes"></i>
                            <h4 class="card-title mt-3">SOCIAL MEDIA</h4>
                            <p class="card-text mt-3">My own social media platform
                            </p>
                        </div>
                    </div>  
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-brands fa-chrome'></i>
                            <h4 class="card-title mt-3">AI CHROME EXTENSION</h4>
                            <p class="card-text mt-3">Chrome extension for generating AI images
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-robot'></i>
                            <h4 class="card-title mt-3">AI API PROJECTS</h4>
                            <p class="card-text mt-3">Projects which connect different APIs for AI purposes
                            </p>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-brands fa-app-store'></i>
                            <h4 class="card-title mt-3">COVID APP</h4>  
                            <p class="card-text mt-3">Mobile App + Website which show areas by level of dangerousness
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-globe'></i>
                            <h4 class="card-title mt-3">PERSONAL WEBSITE</h4>
                            <p class="card-text mt-3">This website was made completely by me
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-paper-plane'></i>
                            <h4 class="card-title mt-3">TELEGRAM CHATBOT</h4>
                            <p class="card-text mt-3">Chatbot for telegram
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card servicesText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-circle-chevron-down'></i>
                            <h4 class="card-title mt-3">AND EVEN MORE</h4>
                            <p class="card-text mt-3">See more here ->
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </section>
    </div>
{% endblock content %}   